.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.shoppingCartImage {
  border: 1px solid black;
  border-radius: 40%;
  padding: 10px;
  width: 20px;
  box-shadow: 2px 2px lightgrey;
  margin-bottom: 5px;
}

.productContainer {
  display: flex;
  flex-direction: row;
}

.productImage {
  width: 30px;
  margin-right: 5px;
}

.productText {
  font-size: 10px;
  margin-top: 6px;
}

.cartList {
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px;
  width: 100%;
  box-shadow: 2px 2px lightgrey;
  font-size: 10px;
}

.deleteProductButton {
  border: 1px solid black;
  border-radius: 40px;
  background-color: rgba(219, 45, 80, 0.653);
  margin-left: 5px;
}
